<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <form action="{{ url_for('controller.register') }}" method="post" enctype="multipart/form-data">
            Name: <input type="text" name="name"><br>
            Email: <input type="email" name="email"><br>
            Password: <input type="password" name="password"><br>
            Image: <input type="file" name="image"><br>
            <input type="submit" value="Submit">
        </form>
        
    </body>
</html>
